doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Document
    link(rel="stylesheet", href="../../styles/main.scss")
    link(rel="stylesheet", href="../../../node_modules/bootstrap-icons/font/bootstrap-icons.css")
    script(type="module", src="../../scripts/main.js") 
  body
    include ../blocks/navigation.pug
    include ../blocks/hero-banner.pug
    include ../blocks/text-media.pug
    include ../blocks/image.pug
    include ../blocks/gallery.pug
    include ../blocks/counter.pug
    include ../blocks/prices.pug
    include ../blocks/cards.pug
    include ../blocks/team.pug
    include ../blocks/testimonials.pug
    include ../blocks/news.pug
    include ../blocks/contact-us.pug
