include ../mixins/card.pug

section.py-5
  .container
    .row
      .col-12.col-sm-6.col-xl-3.mb-4.mb-xl-0
        +card
      .col-12.col-sm-6.col-xl-3.mb-4.mb-xl-0
        +card
      .col-12.col-sm-6.col-xl-3.mb-4.mb-xl-0
        +card
      .col-12.col-sm-6.col-xl-3.mb-4.mb-xl-0
        +card
