section.text-bg-success.py-5.text-center#counter-row
  .container
    .row
      .col-12.col-sm-6.col-md-4.col-lg-3
        .h1.animated-counter 10
        .h6 Lorem ipsum
      .col-12.col-sm-6.col-md-4.col-lg-3
        .h1.animated-counter 165
        .h6 Dolor sit amet
      .col-12.col-sm-6.col-md-4.col-lg-3
        .h1.animated-counter 98
        .h6 Voluptatum nam voluptatem
      .col-12.col-sm-6.col-md-4.col-lg-3
        .h1.animated-counter 32
        .h6 Vitae officiis
