footer.py-4.text-bg-dark
  .container
    .row
      .col-12.col-md-3.mb-4.col-md-0
        .h4.mt-0.mb-4 Social media
        include ./social-links.pug
      .col-12.col-md-3.mb-4.col-md-0
        .h4.mt-0.mb-4 Links
        ul.list-unstyled
          li.mb-2
            a(href='#').link-light Lorem ipsum dolor sit amet
          li.mb-2
            a(href='#').link-light Consectetur adipisicing elit
          li.mb-2
            a(href='#').link-light Iure, nam voluptatem!
          li.mb-2
            a(href='#').link-light Ipsum cumque, recusandae earum
      .col-12.col-md-3.mb-4.col-md-0
        .h4.mt-0.mb-4 Contacts
        ul.list-unstyled
          li.mb-2
            a(href='#').link-light.icon-link
              i.bi.bi-pin-map
              | Lorem ipsum str., 4
          li.mb-2
            a(href='#').link-light.icon-link
              i.bi.bi-telephone
              | +380971112233
          li.mb-2
            a(href='#').link-light.icon-link
              i.bi.bi-envelope
              | test@test.com
      .col-12.col-md-3.mb-4.col-md-0
        .h4.mt-0.mb-4 Subscribe to newsletters
        include ./newsletter-subscription.pug