include ../components/hero-banner/mixins/hero-banner-slider.pug
include ../components/hero-banner/mixins/hero-banner.pug
include ../components/hero-banner/mixins/hero-banner-media.pug
include ../components/hero-banner/mixins/hero-banner-content.pug

- var sliderOptions = { slideCount: 3, activeIndex: 0 }

+hero-banner-slider(sliderOptions)
  +hero-banner-slide(sliderOptions, { index: 0 })
    +hero-banner({ class: `text-bg-light` })
      +hero-banner-content({
        title: `Lorem ipsum`,
        subtitle: 'Dolor sit amet',
        link: {
          href: '#',
          label: 'Test link',
          class: `btn-dark`
        }
      })
        include ../components/hero-banner/blocks/text.pug
      +hero-banner-media
        include ../components/hero-banner/blocks/image.pug
  +hero-banner-slide(sliderOptions, { index: 1 })
    +hero-banner({ class: `text-bg-dark` })
      +hero-banner-content({
        title: `Lorem ipsum`,
        subtitle: 'Dolor sit amet',
        link: {
          href: '#',
          label: 'Test link',
          class: `btn-light`
        }
      })
        include ../components/hero-banner/blocks/text.pug
      +hero-banner-media
        include ../components/hero-banner/blocks/video.pug
  +hero-banner-slide(sliderOptions, { index: 2 })
    +hero-banner({ class: `text-bg-primary` })
      +hero-banner-content({
        title: `Lorem ipsum`,
        subtitle: 'Dolor sit amet',
        link: {
          href: '#',
          label: 'Test link',
          class: `btn-success`
        }
      })
        include ../components/hero-banner/blocks/text.pug
      +hero-banner-media
        include ../components/hero-banner/blocks/image.pug
