include ../mixins/hero-banner.pug
include ../mixins/hero-banner-slider.pug

- var sliderOptions = { slideCount: 3, activeIndex: 0 }
- var HERO_BANNER_CONTENT = {
-   title: 'Lorem ipsum dolor sit amet',
-   subtitle: 'Consectetur adipisicing elit',
-   text: 'Eius eos perferendis vitae obcaecati minima tempora iusto facilis voluptatibus repellat! Molestiae quibusdam minima, natus aspernatur beatae temporibus placeat dolorum culpa libero?',
- }
- var HERO_BANNER_LINK = {
-   href: 'https://github.com/ArtemGrachov',
-   class: 'btn-primary',
-   label: 'GitHub.com'
- }
- var HERO_BANNER_IMAGE = { type: 'image', url: '../../images/600x400.svg', alt: 'Lorem ipsum', title: 'Image' }
- var HERO_BANNER_YOUTUBE = { type: 'youtube', url: 'https://www.youtube.com/embed/ScMzIvxBSi4' }

+hero-banner-slider(sliderOptions)
  +hero-banner-slide(sliderOptions, { index: 0 })
    +hero-banner({
      class: `text-bg-light`,
      content: HERO_BANNER_CONTENT,
      media: HERO_BANNER_IMAGE,
      link: { ...HERO_BANNER_LINK, class: 'btn-dark' }
    })
  +hero-banner-slide(sliderOptions, { index: 1 })
    +hero-banner({
      class: `text-bg-dark`,
      content: HERO_BANNER_CONTENT,
      media: HERO_BANNER_YOUTUBE,
      link: { ...HERO_BANNER_LINK, class: 'btn-light' }
    })
  +hero-banner-slide(sliderOptions, { index: 2 })
    +hero-banner({
      class: `text-bg-primary`,
      content: HERO_BANNER_CONTENT,
      media: HERO_BANNER_IMAGE,
      link: { ...HERO_BANNER_LINK, class: 'btn-success' }
    })
