section.py-5
  .container
    figure
      img.d-block.m-auto.mw-100(src='../../images/1200x600.svg' alt='Test image' title='Test image')
      figcaption.text-center.fw-italic.text-body-tertiary.mt-2 Lorem ipsum dolor sit amet
