nav
  .list-group.list-group-flush
    a.list-group-item.list-group-item-action(href="#features") Features
    a.list-group-item.list-group-item-action(href="#gallery") Gallery
    a.list-group-item.list-group-item-action(href="#prices") Prices
    a.list-group-item.list-group-item-action(href="#team") Team
    a.list-group-item.list-group-item-action(href="#history") History
    a.list-group-item.list-group-item-action(href="#testimonials") Testimonials
    a.list-group-item.list-group-item-action(href="#contact-us") Contact us
    a.list-group-item.list-group-item-action(href="#faq") FAQ