.modal#mobile-nav(tabindex='-1' data-bs-theme="dark")
  .modal-dialog.modal-fullscreen
    .modal-content
      .modal-header
        button.btn-close.ms-0(type='button' data-bs-dismiss='modal' aria-label='Close')
      .modal-body
        include ./mobile-nav.pug
