nav.navbar.position-fixed.z-3.bg-dark.w-100(data-bs-theme="dark")
  .container
    button.navbar-toggler.d-lg-none(type='button' data-bs-toggle='modal' data-bs-target='#mobile-nav')
      span.navbar-toggler-icon
    ul.nav.mx-auto.d-none.d-lg-flex
      li.nav-item
        a.nav-link.active(href="#features") Features
      li.nav-item
        a.nav-link.active(href="#gallery") Gallery
      li.nav-item
        a.nav-link.active(href="#prices") Prices
      li.nav-item
        a.nav-link.active(href="#team") Team
      li.nav-item
        a.nav-link.active(href="#history") History
      li.nav-item
        a.nav-link.active(href="#testimonials") Testimonials
      li.nav-item
        a.nav-link.active(href="#contact-us") Contact us
      li.nav-item
        a.nav-link.active(href="#faq") FAQ
