form
  .mb-3
    label.form-label(for='newsletteremail') Email address
    input#newsletteremail.form-control(type='email' placeholder='test@test.com')
  button.btn.btn-primary(type='submit') Subscribe
