ul.list-inline
  li.list-inline-item
    a(href="#").link-light
      i.bi.bi-instagram
  li.list-inline-item
    a(href="#").link-light
      i.bi.bi-facebook
  li.list-inline-item
    a(href="#").link-light
      i.bi.bi-twitter-x
  li.list-inline-item
    a(href="#").link-light
      i.bi.bi-tiktok