include ../mixins/team-card.pug

section.py-5.text-bg-dark
  .container
    .h1.mt-0.mb-5.text-center Our team
    .row
      .col-12.col-sm-6.col-xl-3.mb-4
        +team-card
      .col-12.col-sm-6.col-xl-3.mb-4
        +team-card
      .col-12.col-sm-6.col-xl-3.mb-4
        +team-card
      .col-12.col-sm-6.col-xl-3.mb-4
        +team-card
      .col-12.col-sm-6.col-xl-3.mb-4
        +team-card
      .col-12.col-sm-6.col-xl-3.mb-4
        +team-card
      .col-12.col-sm-6.col-xl-3.mb-4
        +team-card
      .col-12.col-sm-6.col-xl-3.mb-4
        +team-card
