include ./variables/colours.pug
include ../mixins/text-media.pug

- var TEXT_MEDIA_CONTENT = {
-   title: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit',
-   subtitle: 'Ipsum magni dolorem culpa ratione amet consectetur optio sed placeat aut explicabo',
-   text: 'Nunc omni virtuti vitium contrario nomine opponitur. Duo Reges: constructio interrete. Quid ergo attinet gloriose loqui, nisi constanter loquare? Hoc dixerit potius Ennius: Nimium boni est, cui nihil est mali. Proclivi currit oratio. Materiam vero rerum et copiam apud hos exilem, apud illos uberrimam reperiemus. Atque haec coniunctio confusioque virtutum tamen a philosophis ratione quadam distinguitur. Sed in rebus apertissimis nimium longi sumus.',
- }

- var TEXT_MEDIA_LINK = {
-   modifier: 'btn-light',
-   url: 'https://github.com/ArtemGrachov',
-   title: 'Visit GitHub'
- }

- var TEXT_MEDIA_IMAGE = { type: 'image', url: '../../images/600x400.svg', alt: 'Dolor sit amet' }
- var TEXT_MEDIA_YOUTUBE = { type: 'youtube', url: 'https://www.youtube.com/embed/ScMzIvxBSi4' }
- var TEXT_MEDIA_GALLERY = {
-   type: 'gallery',
-   slides: [
-     {
-       type: 'youtube',
-       url: 'https://www.youtube.com/embed/ScMzIvxBSi4'
-     },
-     {
-       type: 'image',
-       url: '../../images/600x400.svg',
-       alt: 'Dolor sit amet'
-     }
-   ]
- }
- var TEXT_MEDIA_GMAP = { type: 'gmap' }
- var TEXT_MEDIA_LIST = [
-   { class: 'bi-alarm', text: 'Lorem ipsum dolor sit amet consectetur adipisicing elit' },
-   { class: 'bi-chat-dots', text: 'Aspernatur dolore minus alias ipsa' },
-   { class: 'bi-diagram-3', text: 'Similique nemo perspiciatis eaque nostrum' }
- ]

+text-media({
  class: 'text-bg-dark',
  content: TEXT_MEDIA_CONTENT,
  link: {
    ...TEXT_MEDIA_LINK,
    class: 'btn-light',
  },
  list: TEXT_MEDIA_LIST,
  media: TEXT_MEDIA_IMAGE
})

+text-media({
  class: 'text-bg-primary',
  content: TEXT_MEDIA_CONTENT,
  link: {
    ...TEXT_MEDIA_LINK,
    class: 'btn-success',
  },
  list: TEXT_MEDIA_LIST,
  media: TEXT_MEDIA_YOUTUBE,
  reversed: true
})

+text-media({
  class: 'text-bg-light',
  content: TEXT_MEDIA_CONTENT,
  link: {
    ...TEXT_MEDIA_LINK,
    class: 'btn-dark',
  },
  list: TEXT_MEDIA_LIST,
  media: TEXT_MEDIA_GALLERY
})

+text-media({
  class: 'text-bg-dark',
  content: TEXT_MEDIA_CONTENT,
  link: {
    ...TEXT_MEDIA_LINK,
    class: 'btn-light',
  },
  list: TEXT_MEDIA_LIST,
  media: TEXT_MEDIA_GMAP,
  reversed: true
})
