mixin article
  aricle.card
    img.card-img-top(src="../../images/600x400.svg")
    .card-body
      .h5.card-title Lorem ipsum
      .card-subtitle.mb-2.text-body-secondary 07/04/2024
      .card-text.mb-2 Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime earum at libero nulla consectetur error. Quod eos recusandae, obcaecati consequuntur, voluptates laboriosam nulla dolores, perferendis rem dignissimos eligendi dolorem assumenda.
      a.card-link(href="#")
        | Read more
        span.bi.bi-arrow-right
