mixin card
  .card
    img.card-img-top(src="../../images/600x400.svg")
    .card-body
      h5.card-title Card title
      p.card-text
        | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
    ul.list-group.list-group-flush
      li.list-group-item An item
      li.list-group-item A second item
      li.list-group-item A third item
    .card-body
      a.card-link(href='#') Card link
      a.card-link(href='#') Another link
