include ./carousel.pug

mixin hero-banner-slider(carouselOptions = {})
  #hero-banner.carousel.carousel-dark.slide.min-vh-100
    .carousel-indicators
      +hero-banner-controls(carouselOptions)
    .carousel-inner
      block
    +carousel-button-prev({ target: '#hero-banner' })
    +carousel-button-next({ target: '#hero-banner' })

mixin hero-banner-slide(carouselOptions = {}, slideOptions = {})
  .carousel-item(class=(carouselOptions.activeIndex === slideOptions.index ? 'active' : ''))
    block

mixin hero-banner-controls(carouselOptions = {})
  each _, index in Array(carouselOptions.slideCount || 1)
    +hero-banner-control(carouselOptions, { index: index })

mixin hero-banner-control(carouselOptions = {}, controlOptions = {})
  +carousel-pagination-control({
    active: carouselOptions.activeIndex === controlOptions.index,
    index: controlOptions.index,
    target: '#hero-banner'
  })
