mixin review
  figure.text-center
    blockquote.blockquote Lorem ipsum dolor sit amet consectetur adipisicing elit. Obcaecati nulla tempore labore, accusamus aspernatur animi quas quisquam quae in saepe provident quo ipsa non maxime quibusdam possimus culpa nam aliquam?
    figcaption
      .h5 John Doe
      .h6 SEO Lorem Ipsum
